@font-face {
  src: url('../assets/fonts/poppins.ttf');
  font-family: 'poppins';
}
body{
  font-family: 'poppins';
}
.weather-con{
  min-height: 100vh;
  overflow: hidden;
}
.container-fluid{
    padding: 0px;
}
.weather-disp{
  min-height: 100vh;
  background-color: #0008;
  position: relative;
  overflow: hidden;
}
.title{
  margin: 0px 20px;
  padding-top: 20px;
}
.title h1{
  color: #fffd;
}
.title a{
  color: #fffd;
}
.title a:hover{
  color: #fff;
}
.data-con{
  min-height: 100vh;
  background-color: #0008;
  color: #fffe;
  overflow: hidden;
  position: fixed;
}
.data{
  /* position: fixed; */
}
@media screen and (max-width:769px) {
  .data-con{
    height: inherit;
    position: relative;
  }
  .weather-disp-con, .weather-disp, .data-con{
    min-height: inherit;
  }
}
.data{
  margin: 20px;
  overflow: hidden;
}
.weather-disp-data{
  width: 100%;
}
.temp-con{
  background-color: #fff1;
  border-radius: 10px;
  margin: 10px 0px;
}
.temp{
  padding: 10px;
}
.temp-con .temp h2{
  color: #fffe;
  font-weight: bolder;
  font-size: 42px;
}
.temp-sub{
  color: #fffe;
  display: inline-flex;
  margin-left: 2.5rem;
}
.temp-sub p{
  font-size: 18px;
  margin: 0px;
}
@media screen and (max-width: 769px) {
  .weather-disp-data{
    position: relative;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .temp-con{
    margin: 10px;
  }
  .temp-con .temp h2{
    font-size: 32px;
  }
  .temp-sub p{
    font-size: 12px;
  }
}
.temp-sub  span{
  margin-right: 15px;
  font-size: 10px;
  text-align: left;
}
.weather-disp-image{
  position: absolute;
  z-index: -1;
  top: 0px;
  width: 100%;
  overflow: hidden;
  height: inherit;
  background-color: #000;
}

.blur img{
  filter: blur(10px);
}
.data-list  ul{
  padding: 0px;
  border-bottom: 1px solid #fff2;
  border-top: 1px solid #fff2;
}
.data-list  ul li{
  display: inline-flex;
  width: 100%;
  text-align: justify;
  margin: 10px 0px;
  font-size: 20px;
}
.data-list ul li .data-atr{
  width: 70%;
  color: #fff9;
}
.data-form{

}
.data-form  h2{
  color: #fffd;
}
.form-ctrl{
  width: 100%;
  display: inline-flex;
  font-size: 24px;
  border: 2px solid #fff3;
}
.form-ctrl button{
  color: #fffd;
  width: 20%;
  font-size: 36px;
  outline: 0px !important;
}
.form-ctrl button:hover{
  color: #fffd;
  background-color: #fff5;
}
.form-ctrl input{
  padding: 10px;
  color: #fffe;
  background-color: #fff2;
  border: 0px;
  width: 80%;
  outline: 0px !important;
}
.form-ctrl input::placeholder{
  color: #fff8;
}

.data-info{
  position: relative;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #fff5;
}
.data-info span{
  position: absolute;
  top: 15px;
}
.data-info h3{
  padding-left: 20px;
}
.data-info ul{
  list-style-type: none;
  padding-left: 20px;
}
.data-info ul li{
  margin: 10px 0px;
}
.spin{
  animation: spinAnim 2s linear infinite;
}
@keyframes spinAnim {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.my-footer{
  position: absolute;
  bottom: 0px;
  padding: 10px;
  text-align: center;
  width: 100%;
}
.my-footer a{
  text-decoration: none;
  color: #fffe;
}
.my-footer p{
  color: #fff9;
}
@media screen and  (max-width: 768px) {
  .data{
    margin-bottom: 30%;
  }
  .my-footer{
    position: relative;
    background-color: #111;
  }
}
